{% extends 'base.html' %}
{% block content %}
    
<h1>Board Details</h1>

<divclass="card">
    <div class ="card-content">
        <span class="card-title">{{ board.brand }}</span>
        <p>Model: {{ board.model }}</p>
        <p>Description: {{ board.description }} </p>
        {% if board.age > 0 %}
        <p>Age: {{ board.age }}</p>
        {% else %}
        <p>Not Yet Released</p>
    {% endif %}
    </div>
    <div class="card-action">
        <a href="{% url 'boards_update' board.id %}">Edit</a>
        <a href="{% url 'boards_delete' board.id %}">Delete</a>
      </div>
</div>
{% endblock %}